/* Header */
#head { background:#181015 url( ../images/bg_header.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:6px; color:white; line-height:1.15em; } 
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}


/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }

#titlebar
{
	background: -moz-linear-gradient(left, rgba(211,60,68,1) 0%, rgba(41,137,216,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(211,60,68,1) 0%,rgba(41,137,216,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(211,60,68,1) 0%,rgba(41,137,216,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d33c44', endColorstr='#002989d8',GradientType=1 ); /* IE6-9 */
}
	
#homelastliked
{
	background: -moz-linear-gradient(left, rgba(16,120,177,1) 0%, rgba(41,137,216,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(16,120,177,1) 0%,rgba(41,137,216,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(16,120,177,1) 0%,rgba(41,137,216,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1078b1', endColorstr='#002989d8',GradientType=1 ); /* IE6-9 */
}
	
/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; font-size: large;}
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space 
{ 
margin: auto 5% 1% 5%;
}
/*  grid-row-start: 2;
grid-row-end: 3; */
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

/* Footer */
.footer1 { background: #1078B1; padding: 30px 0 0 0; font-size: 12px; color: white; border-radius: 10px 10px 0 0; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:0px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #C00; padding: 15px 0; color: white; font-size: 12px; border-radius: 0 0 10px 10px;;}
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }	

.dosearch
{
	width: 100%;
	height: 40px;
	border: none; /* <-- This thing here */
	text-transform: uppercase;
	border:1px solid rgba(255, 255, 255, .2); border-radius: 10px; margin-left:5px; margin-top:5px; padding-top:10px; padding-bottom:10px; 
    font-size: 20px;
	color: white;
	background-color: transparent;
}
.dosearch:focus
{
	color: black;
}

.tagtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
	color: #1078B1;
}

.tagtooltip .tagtooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #1078B1;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 10000;
}
.tagtooltiptext
{
	font-size: large;
	background-image: -webkit-linear-gradient(top, #1078B1 0%, #0a486b  100%);
	background-image: linear-gradient(to bottom, #1078B1 0%, #0a486b  100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1078B1', endColorstr='#0a486b ', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.tagtooltip:hover .tagtooltiptext {
    visibility: visible;
}

.card-body
{
	font-size: large;
}