<?= $this->element('header'); ?>
	
	<!-- Header -->
	<!-- <header id="head"> -->
		<!-- <div class="container"> -->
			<!-- <div class="row"> -->
				<!-- <h1 class="lead">AWESOME, CUSTOMIZABLE, FREE</h1> -->
				<!-- <img source="img/1.jpg"></img> -->
				<!-- <p class="tagline">PROGRESSUS: free business bootstrap template by <a href="http://www.gettemplate.com/?utm_source=progressus&amp;utm_medium=template&amp;utm_campaign=progressus">GetTemplate</a></p> -->
				<!-- <p><a class="btn btn-default btn-lg" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button">DOWNLOAD NOW</a></p> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </header> -->
	<!-- /Header -->
	<!-- container -->
	<div class="container">
		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Sign in</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							
							<label>Username/ <?php echo $dat[1] + $dat[0] ?>Email</label> <span class="text-danger"><?php echo $dat[2] ?> </span>
							2
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	
<?= $this->element('footer'); ?>